<div class="row">
  <div class="column">
    <br>
  </div>
  <div class="column">
    <div class="logo">
      <img src="./assets/Images/logo.png" alt="TaskVantage logo" class="logo-img">
      <h1 class="logo-h1">TaskVantage</h1>
    </div>

    <!-- Heading: Forgot Password or Reset Password -->
    <h1 class="forgot-password-heading">
      <b *ngIf="!isResetMode; else resetModeHeading">Forgot Password</b>
      <ng-template #resetModeHeading><b>Reset Password</b></ng-template>
    </h1>

    <!-- Form for Forgot Password / Reset Password -->
    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
        <!-- Email Field - Visible only if not in reset mode -->
        <mat-form-field *ngIf="!isResetMode">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" />
          <mat-error *ngIf="resetPassword.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="resetPassword.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>

        <!-- New Password Fields - Visible only if in reset mode -->
        <ng-container *ngIf="isResetMode">
          <mat-form-field fxFlex>
            <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'" formControlName="newPassword">
            <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="hide ? 'Hide new password' : 'Show new password'">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <div class="error-container">
              <mat-error *ngIf="resetPassword.get('newPassword')?.hasError('required') && resetPassword.get('newPassword')?.touched">
                New Password is required
              </mat-error>
              <mat-error *ngIf="resetPassword.get('newPassword')?.hasError('lowercase') && resetPassword.get('newPassword')?.touched">
                Must have a lowercase letter
              </mat-error>
              <mat-error *ngIf="resetPassword.get('newPassword')?.hasError('numeric') && resetPassword.get('newPassword')?.touched">
                Must contain a number
              </mat-error>
              <mat-error *ngIf="resetPassword.get('newPassword')?.hasError('specialChar') && resetPassword.get('newPassword')?.touched">
                Must contain a special character
              </mat-error>
              <mat-error *ngIf="resetPassword.get('newPassword')?.hasError('minLength') && resetPassword.get('newPassword')?.touched">
                Must be at least 8 characters long
              </mat-error>
            </div>
          </mat-form-field>          

          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm new password" [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="hideConfirmPassword ? 'Show confirm password' : 'Hide confirm password'">
              {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="resetPassword.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
            <mat-error *ngIf="resetPassword.errors?.['passwordMismatch']">Passwords do not match</mat-error>
          </mat-form-field>
        </ng-container>

        <!-- Submit Button -->
        <button mat-raised-button class="login-button" [disabled]="!isButtonEnabled()">
          {{ isResetMode ? 'Submit New Password' : 'Reset Password' }}
        </button>            
      </div>
    </form>

    <br>
    <a [routerLink]="['/login']" class="back-to-login-link">Go back</a>
  </div>
  <div class="column">
    <img src="./assets/Images/Image_clipboard.png" alt="Clipboard image" class="clipboard-img">
    <a class="designed-by" href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a>
  </div>
  <div class="column"></div>
</div>