.login-form mat-form-field + mat-form-field {
  margin-left: 8px;
}

.column {
  flex: 1;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

mat-form-field {
  width: 75%;
}

img {
  max-width: 100%;
  height: auto;
}

.appleid-signin {
  width: 360px;
  height: 40px;
  padding-top: 10px;
}

.logo-img {
  padding-top: 15px;
  padding-bottom: 100px;
}

.fb-login-button {
  padding-top: 15px;
}

.login-heading {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2365B2;
}

.clipboard-img {
  padding-top: 33.33%;
}

.designed-by {
  padding-left: 27%;
}

.google-signin-button {
  width: 360px;
  height: 40px;
  background-color: white;
  color: #757575;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.google-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.google-signin-button:hover {
  background-color: #f7f7f7;
}