<div class="row">
  <div class="column">
    <br>
  </div>
  <div class="column">
    <div class="logo">
      <img src="./assets/Images/logo.png" alt="image" class="logo-img">
      <h1 class="logo-h1">TaskVantage</h1>
    </div>
    <h1 class="login-heading"><b>Log in</b></h1>
    <form [formGroup]="signin" (ngSubmit)="onSubmit()">
      <div class="login-form">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br>
        <button mat-raised-button class="login-button" type="submit">Login</button>
      </div>
    </form>
    <div class="link-container">
      <a [routerLink]="['/register']" class="register-link">Don't have an account? Register here.</a>
      <a [routerLink]="['/forgot-password']" class="register-link">Forgot your password?</a>
      <a [routerLink]="['/privacy-policy']" class="privacy-link">Privacy Policy</a>
    </div>     
  </div>

  <div class="column" id="right_column">
    <h2 class="carousel-heading">{{ carouselHeadings[currentSlide] }}</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/Images/1_home.png" class="d-block w-100" alt="Task Management">
        </div>
        <div class="carousel-item">
          <img src="./assets/Images/2_AddTask.png" class="d-block w-100" alt="Seamless Task Tracking">
        </div>
        <div class="carousel-item">
          <img src="./assets/Images/3_tasks.png" class="d-block w-100" alt="Collaboration Made Simple">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p class="carousel-description">{{ carouselDescriptions[currentSlide] }}</p>
  </div>

  <div class="column"></div>
</div>